#User Credentials
MYACCOUNT_USERNAME = "ENTER YOUR USERNAME"
MYACCOUNT_PASSWORD = "ENTER YOUR PASSWORD"

#Browser Settings
BROWSER_PROFILE_PATH = "ENTER YOUR BROWSER PROFILE PATH"

ADMIND_ID_DISPLAY_FILE_PATH = "ENTER PATH"